{% extends 'base.html.twig' %}

{% block Sidebar %}
	<!-- Sidebar Start -->
	<div class="sidebar pe-4 pb-3">
		<nav class="navbar bg-secondary navbar-dark">
			<a href="index.html" class="navbar-brand mx-4 mb-3">
				<h3 class="text-primary">
					<i class="fa fa-user-edit me-2"></i>MyCinema</h3>
			</a>
			<div class="d-flex align-items-center ms-4 mb-4">
				<div class="position-relative">
					<img class="rounded-circle" src="{{ asset("backend/img/user.jpg") }}" alt="" style="width: 40px; height: 40px;">
					<div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
				</div>
				<div class="ms-3">
					<h6 class="mb-0">Saidi Meryam</h6>
					<span>Admin_Stock</span>
				</div>
			</div>
			<div class="navbar-nav w-100">
				<a href="/home" class="nav-item nav-link">
					<i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">
						<i class="fa fa-table me-2"></i>Produits</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="/produit/liste" class="dropdown-item">Liste Des Produits</a>
						<a href="/produit/ajout" class="dropdown-item">Nouveau Produit</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
						<i class="fa fa-laptop me-2"></i>Catégories</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="/categorie/liste" class="dropdown-item">Liste Des Catégories</a>
						<a href="/categorie/ajout" class="dropdown-item">Nouvelle Catégorie</a>
					</div>
				</div>
				<a href="widget.html" class="nav-item nav-link">
					<i class="fa fa-th me-2"></i>Offres</a>
				<a href="form.html" class="nav-item nav-link">
					<i class="fa fa-keyboard me-2"></i>Avis</a>
			</div>
		</nav>
	</div>
	<!-- Sidebar End -->
{% endblock %}

{% block changeMe %}
	<div class="container-fluid pt-4 px-4">
		<div class="bg-secondary rounded-top p-4">
			<div class="row">
				<h6 class="mb-4">Ajouter un Nouveau Produit</h6>
				<form method="post">
					{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
					<div class="mb-3">
						{{ form_label(form.barcode, 'Barcode') }}
						{{ form_widget(form.barcode, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.barcode) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.productname, 'Nom') }}
						{{ form_widget(form.productname, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.productname) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.purchaseprice, 'Prix') }}
						{{ form_widget(form.purchaseprice, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.purchaseprice) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.descriptionproduct, 'Description') }}
						{{ form_widget(form.descriptionproduct, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.descriptionproduct) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.quantite, 'Quantité') }}
						{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.quantite) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.categorie, 'Catégorie') }}
						{{ form_widget(form.categorie, {'attr': {'class': 'form-select'}}) }}
						{{ form_errors(form.categorie) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.imageproduct, 'Image du produit', {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.imageproduct, {'attr': {'class': 'form-control bg-dark', 'type': 'file', 'id': 'formFile'}}) }}
						{{ form_errors(form.imageproduct) }}
					</div>
					<div class="mb-3">
						{{ form_label(form.etat, 'Etat') }}
						{{ form_widget(form.etat, {'attr': {'class': 'btn btn-outline-dark m-2'}}) }}
						{{ form_errors(form.etat) }}
					</div>
					<button type="submit" class="btn btn-outline-primary w-100 m-2">Créer</button>
					{{ form_end(form) }}
				</form>
			</div>
		</div>
	</div>

{% endblock %}
