{% extends 'base.html.twig' %}

{% block Sidebar %}
	<!-- Sidebar Start -->
	<div class="sidebar pe-4 pb-3">
		<nav class="navbar bg-secondary navbar-dark">
			<a href="index.html" class="navbar-brand mx-4 mb-3">
				<h3 class="text-primary">MyCinema</h3>
			</a>
			<div class="d-flex align-items-center ms-4 mb-4">
				<div class="position-relative">
					<img class="rounded-circle" src="{{ asset("backend/img/user.jpg") }}" alt="" style="width: 40px; height: 40px;">
					<div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
				</div>
				<div class="ms-3">
					<h6 class="mb-0">Saidi Meryam</h6>
					<span>Admin_Stock</span>
				</div>
			</div>
			<div class="navbar-nav w-100">
				<a href="/home" class="nav-item nav-link">
					<i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">
						<i class="fa fa-table me-2"></i>Produits</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="/produit/liste" class="dropdown-item">Liste Des Produits</a>
						<a href="/produit/ajout" class="dropdown-item">Nouveau Produit</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
						<i class="fa fa-laptop me-2"></i>Catégories</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="/categorie/liste" class="dropdown-item">Liste Des Catégories</a>
						<a href="/categorie/ajout" class="dropdown-item">Nouvelle Catégorie</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="/offre/liste" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">
						<i class="fa fa-laptop me-2"></i>Offres</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="/offre/liste" class="dropdown-item">Liste Des Offres</a>
						<a href="/offre/ajout" class="dropdown-item">Nouvelle Offre</a>
					</div>
				</div>
				<a href="form.html" class="nav-item nav-link">
					<i class="fa fa-keyboard me-2"></i>Avis</a>
			</div>
		</nav>
	</div>
	<!-- Sidebar End  -->
{% endblock %}

{% block changeMe %}
	<div class="container-fluid pt-4 px-4">
		<div class="bg-secondary rounded-top p-4">
			<div class="row">
				<h6 class="mb-4">Chercher un produit ayant un prix entre deux prix
				</h6>
				{{form_start(form, {'attr': {'class': 'form-row align-items-end'}}) }}
				<div class="form-rowalign-items-end">
					<div class="col">
						{{form_row(form.minPrice, {'attr': {'class': 'form-control bg-dark border-0', 'placeholder': '0.00'}}) }}
					</div>
					<div class="col">
						{{form_row(form.maxPrice, {'attr': {'class': 'form-control bg-dark border-0', 'placeholder': '0.00'}}) }}
					</div>
					<div class="col">
						<div class="form-group">
							<button type="submit" class="btn btn-outline-light m-2">Rechercher</button>
						</div>
					</div>
				</div>
				{{form_end(form)}}
			</div>
			{% if produits %}
				<div class="col-12">
					<div class="bg-secondary rounded h-100 p-4">
						<div class="d-flex align-items-center justify-content-between mb-4">
							<h6 class="mb-4">Liste des Produits</h6>
							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
									<span class="d-none d-lg-inline-flex">Filtres</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
									<a href="/produit/recherchePrix" class="dropdown-item">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<h6 class="fw-normal mb-0" style="color:red">Prix entre min et max</h6>
											</div>
										</div>
									</a>
									<hr class="dropdown-divider">
									<a href="/produit/rechercheCat" class="dropdown-item">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<h6 class="fw-normal mb-0" style="color:red">Recherche par Catégorie</h6>
											</div>
										</div>
									</a>
									<hr class="dropdown-divider">
									<a href="/produit/rechercheProd_Offre" class="dropdown-item">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<h6 class="fw-normal mb-0" style="color:red">Recherche par Offre</h6>
											</div>
										</div>
									</a>
									<hr class="dropdown-divider">
									<a href="triPrixCher" class="dropdown-item">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<h6 class="fw-normal mb-0" style="color:red">Plus Cher</h6>
											</div>
										</div>
									</a>
									<hr class="dropdown-divider">
									<a href="/produit/triPrixBas" class="dropdown-item">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<h6 class="fw-normal mb-0" style="color:red">Bas Prix</h6>
											</div>
										</div>
									</a>
									<hr class="dropdown-divider">
									<a href="/produit/enstock" class="dropdown-item">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<h6 class="fw-normal mb-0" style="color:red">En Stock</h6>
											</div>
										</div>
									</a>
									<hr class="dropdown-divider">
									<a href="/produit/triProd_Offre" class="dropdown-item">
										<div class="d-flex align-items-center">
											<div class="ms-2">
												<h6 class="fw-normal mb-0" style="color:red">Offre plus élevée</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
							<a href="/produit/liste">Show All</a>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Barcode</th>
										<th>Nom</th>
										<th>Prix</th>
										<th>Etat</th>
										<th>Description</th>
										<th>Catégorie</th>
										<th>Offre</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for produit in produits %}
										<tr>
											<td><img class="img-fluid" src="{{ asset("pop_suc.jpg") }}" alt="" weidth="5px" height="5px"></td>
											<td>{{ produit.barcode | upper }}</td>
											<td>{{ produit.productname }}</td>
											<td>{{ produit.purchaseprice }}</td>
											<td>{{ produit.etat }}</td>
											<td>{{ produit.descriptionproduct }}</td>
											<td>{{ produit.getCategorie.nom }}</td>
											{% if produit.getOffre != null %}
												<td>{{ produit.getOffre.pourcentage }}</td>
											{% else %}
												<td>--</td>
											{% endif %}
											<td>
												<a href="/produit/details/{{ produit.id }}" class="btn btn-dark m-2" data-toggle="modal" data-target="#produit-details-{{ produit.id }}">Détails</a>
												<a href="/produit/modif/{{ produit.id }}" class="btn btn-dark m-2">Modifier</a>
												<a href="/produit/supp/{{ produit.id }}" class="btn btn-outline-danger m-2" onclick="return confirm('Etes-vous sûr de supprimer ce Produit?');">Supprimer</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% else %}
						<p>Aucun produit</p>
						<a href="/produit/liste">Show All</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
