{% extends 'base.html.twig' %}
{% block Sidebar %}
					<!-- Sidebar Start -->
					<div class="sidebar pe-4 pb-3">
						<nav class="navbar bg-secondary navbar-dark">
							<a href="index.html" class="navbar-brand mx-4 mb-3">
								<h3 class="text-primary">
									<i class="fa fa-user-edit me-2"></i>MyCinema</h3>
							</a>
							<div class="d-flex align-items-center ms-4 mb-4">
								<div class="position-relative">
									<img class="rounded-circle" src="{{ asset("backend/img/user.jpg") }}" alt="" style="width: 40px; height: 40px;">
									<div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
								</div>
								<div class="ms-3">
									<h6 class="mb-0">Amine Khalfaoui</h6>
									<span>Agent</span>
								</div>
							</div>
							<div class="navbar-nav w-100">
								<a href="/home" class="nav-item nav-link active">
									<i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
								<div class="nav-item dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
										<i class="fa fa-table me-2"></i>Reservations</a>
									<div class="dropdown-menu bg-transparent border-0">
										<a href="/PidevWeb-Reservation/public/index.php/reservation/liste" class="dropdown-item">Liste des reservations</a>
										<a href="/PidevWeb-Reservation/public/index.php/reservation/ajout" class="dropdown-item">Nouvelle Reservation</a>
									</div>
								</div>
								<div class="nav-item dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
										<i class="fa fa-laptop me-2"></i>Offres</a>
									<div class="dropdown-menu bg-transparent border-0">
										<a href="/PidevWeb-Reservation/public/index.php/offre/liste" class="dropdown-item">Liste Des Offres</a>
										<a href="/PidevWeb-Reservation/public/index.php/offre/ajout" class="dropdown-item">Nouvelle Offre</a>
									</div>
								</div>
								<div class="nav-item dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
										<i class="fa fa-laptop me-2"></i>Blogs</a>
									<div class="dropdown-menu bg-transparent border-0">
										<a href="/PidevWeb-Reservation/public/index.php/blog/liste" class="dropdown-item">Liste Des Blogs</a>
										<a href="/PidevWeb-Reservation/public/index.php/blog/ajout" class="dropdown-item">Nouveau Blog</a>
									</div>
								</div>
								
								<a href="form.html" class="nav-item nav-link">
									<i class="fa fa-keyboard me-2"></i>Log Out
								</a>
							</div>
						</nav>
					</div>
					<!-- Sidebar End -->
				{% endblock %}



{% block body %}


    
	<div class="row">
				{{ form_start(form, {'attr': {'class': 'form-row align-items-end'}}) }}
				<div class="form-row align-items-end">
					<div class="col">
						{{ form_row(form.email_res, {'attr': {'class': 'form-control bg-dark border-0', 'placeholder': 'Rechercher'}}) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>



	

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_res</th>
                <th>Prenom_res</th>
                <th>Email_res</th>
                <th>Nom_evnmt</th>
                <th>Typeticket_res</th>
                <th>Date_res</th>
                <th>Code_offr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.nomRes }}</td>
                <td>{{ reservation.prenomRes }}</td>
                <td>{{ reservation.emailRes }}</td>
                <td>{{ reservation.nomEvnmt }}</td>
                <td>{{ reservation.typeticketRes }}</td>
                <td>{{ reservation.dateRes }}</td>
                <td>{{ reservation.codeOffr }}</td>
				
				
                <td>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	 <h3>Reservation Count by Date</h3>
    <table>
        <tr>
            <th>Date </th>
			<th> </th>
			
            <th> Number of reservations </th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.date_res|date('Y-m-d') }}</td>
				<td> </td>
				<td> </td>
				
                <td>{{ result.nb_res_same_date }}</td>
            </tr>
        {% endfor %}
    </table>


   
{% endblock %}
