{% extends 'base.html.twig' %}




{% block body %}

    <h1>Offres</h1>
	<div class="row">
				{{ form_start(form, {'attr': {'class': 'form-row align-items-end'}}) }}
				<div class="form-row align-items-end">
					<div class="col">
						{{ form_row(form.nomfilm_offr, {'attr': {'class': 'form-control bg-dark border-0', 'placeholder': 'Rechercher'}}) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomfilm_offr</th>
                <th>Contenu_offr</th>
                <th>Datedebut_offr</th>
                <th>Datefin_offr</th>
                <th>Code_offr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offres in offres %}
            <tr>
                <td>{{ offres.id }}</td>
                <td>{{ offres.nomfilmOffr }}</td>
                <td>{{ offres.contenuOffr }}</td>
                <td>{{ offres.datedebutOffr }}</td>
                <td>{{ offres.datefinOffr }}</td>
                <td>{{ offres.codeOffr }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
